body {
    background: #cccc99;
    font-family: sans-serif;
}

h1 {
    font-family: 'Times New Roman', serif;
    font-size: 1.2em;
}

ol {
    font: italic 0.98em serif;
}
.content {
    background: #eeeecc;
}

.copyright {
    font-weight: bold;
    font-size: 0.8em;
}

.code {
    font-family: monospace;
    font-size: 0.9em;
}